html, body {
  top: 0;
  margin: 0;
  padding: 0;
}

.Home {
    top: 0;
    position: fixed;
    background-color: black;
    z-index: 100;
    height: 5vw;
    width: 100%;
}

.Home h1 {
  position: absolute;
  font-size: 6vw;
  color: white;
  top: 50%;
  left: 1vw;
  transform: translateY(-50%);
}

.input {
  position: absolute;
  top: 2.5vw;
  left: 85%;
  transform: translate(-50%, -50%);
}

.hometag {
  position: absolute;
  font-size: 3vw;
  top: 90%;
  left: 32%;
  transform: translate(-50%, -100%);
  color: white;
}

.gallerytag {
  position: absolute;
  font-size: 3vw;
  top: 90%;
  left: 42%;
  transform: translate(-50%, -100%);
  color: white;
}

.check {
  position: fixed;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  top: 5vw;
  background-color: white;
  border-bottom: solid black 0.1vw;
}

.check h2 {
  position: absolute;
  font-size: 4vw;
  top: -0.5vw;
}

.form {
  position: absolute;
  display: flex;
  flex-flow: row;
  top: 2vw;
  transform: translateY(-50%);
  left: 20vw;
  width: 50vw;
  height: 4vw;
}

.field {
  display: flex;
  align-items: center;
  width: 15vw;
  height: 4vw;
}

.list {
  position: absolute;
  width: 100%;
  top: 10vw;
  left: 50%;
  transform: translateX(-50%);
  overflow: auto;
}

.item:hover {
  background-color: grey;
  color: white;
}

.item {
  position: relative;
  height: 20vw;
  width: 100%;
  left: 50%;
  color: black;
  transform: translateX(-50%);
}

.image {
  position: absolute;
  left: 2vw;
  width: 12vw;
  top: 10vw;
  transform: translateY(-50%);
}

.text {
  position: absolute;
  left: 16vw;
  width: 60vw;
  top: 10vw;
  transform: translateY(-50%);
  height: 16vw;
}

.texttitle {
  line-height: 4vw;
  font-size: 3vw;
}
